[Desktop Entry]
Exec=/home/brian/LCP/Lcproxy-injector-linux.sh
Icon=dialog-scripts
Name=Lcproxy-injector-linux.sh
Path=
Type=Application
X-KDE-AutostartScript=true
