[Desktop Entry]
Exec=/home/$USER/LCP/Lcproxy-injector-linux.sh
Icon=dialog-scripts
Name=Lcproxy-injector-linux.sh
Path=
Type=Application
X-KDE-AutostartScript=true
